<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'modal.css' %}">
    <script src="{% static 'conta.js' %}" defer></script>
    <title>Conta simples</title>
</head>
<body>
    <h1>Conta de filial</h1>
    <div class="square-button" id="openModalBtn">
        {{ contagem }} contratos
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Detalhes da Filial</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID Cliente</th>
                        <th>Cliente</th>
                        <th>ID Contrato</th>
                        <th>Contrato</th>
                        <th>Tipo Cliente</th>              
                    </tr> 
                </thead>
                <tbody>
                    {{ rows | safe}}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
